.cartTop {
  display: flex;
  justify-content: space-between;
  
}
.yourCart {
  font-size: 40px;
  margin-left: 10px;
}
.ConShop {
  margin-right: 20px;
}
.contShop {
  border-bottom: 1px solid grey;
  cursor: pointer;
}
.contShop:hover {
  border-bottom: 3px solid grey;
}

.CartTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 16px;
}
.productT {
  flex: 17;
  margin-left: 15px;
}
.quantT {
  flex: 9;
}
.priceT {
  flex: 1;
}
.mainProductDiv {
  border-bottom: 1px solid #e5f0da;
  border-top: 1px solid #e5f0da;
}
.ProductDiv {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}
.ProductItems {
  display: flex;
  gap: 20px;
  flex: 17;
}
.productImg {
  width: 150px;
  height: 150px;
  border: 1px solid #e5f0da;
  margin-left: 30px;
}
.cartImg{
  width: 100%;
  height: 100%;
}

.ProductQuantity {
  flex: 9;
  display: flex;
  gap: 20px;
}

.Quantdiv {
  width: 180px;
  height: 60px;
  border: 1px solid #e5f0da;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
.QuantityDelete {
  background-color: #e5f0da;
  width: 45px;
  height: 45px;
  padding: 5px;
  align-items: center;
  text-align: center;
}

.ProductTotal {
  flex: 1;
  margin-top: -10px;
}

.checkOut{
  align-items: right;
  text-align: right;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 120px;
}
.tax{
  font-size: 16px;
  font-weight: 300;
  text-align:right;
}
.Subtotal{
  text-align:right;
}
.CheckButton{
  padding: 20px;
  border: none;
  background-color: #475d4b;
  color: #fff;
  width:420px;
  border-radius:5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

}