body {
    margin: 0;
    font-size: 15px;
    font-family: "Museo Sans", sans-serif;
    position: relative;
}

#container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 3em auto;
    height: 650px;
    border-radius: 1em;
    background-image: url('https://cdn.shopify.com/s/files/1/0054/6665/2718/files/1_1_ecef2245-1d82-431e-b32d-5d704e1e620d.jpg?v=1606463237');
    justify-content: space-around;
}

header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 8em;
    padding-top: 2em;
}

#logo_div {
    width: 13%;
    height: 80%;
}

#logo_div img {
    width: 100%;
    height: 100%;
    border-radius: 1em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#title_name {
    font-weight: normal;
    font-size: 1.4em;
    margin: 0;
}

span>a {
    color: red;
    text-decoration: none;
}

span:hover {
    cursor: pointer;
}

#price {
    font-size: 1.5em;
    margin: 0;
    color: teal;
}

#payment {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
}

#payment_left {
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.payment_method {
    width: 100%;
    height: 14%;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.payment_method:hover {
    cursor: pointer;
}

.payment_method i {
    font-size: 1.8em;
    margin-left: 0.5em;
}

.payment_method p {
    font-size: 1.2em;
    margin-left: 0.5em;
}

#payment_right {
    width: 48%;
    height: 80%;
    margin-top: 2em;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.hover {
    background-color: teal;
    color: white;
}

#card_payment {
    width: 100%;
    height: 100%;
    margin-top: 2em;
    /* display: none; */
}

#card_pay {
    background-color: teal;
    color: white;
}

#card_payment p {
    margin-left: 1em;
    color: teal;
}

.temp {
    width: 90%;
    margin: auto;
    border-radius: 5px;
    outline: none;
    border: 0.5px solid #ccc;
    height: 2em;
    font-size: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
}

.temp1 {
    width: 42%;
    margin: auto;
    border-radius: 5px;
    outline: none;
    border: 0.5px solid #ccc;
    height: 2em;
    font-size: 1.3em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
}

input[type="radio"] {
    width: 1.3em;
    height: 1.3em;
    margin-left: 1.5em;
}

#card_label {
    font-size: 1.1em;
}

#card_btn {
    width: 90%;
    height: 2.5em;
    margin-left: 0.6em;
    margin-top: 1em;
    background-color: teal;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 1.3em;
}

#card_btn:hover {
    cursor: pointer;
}

/* sucess message */
#sucess {
    position: absolute;
    border-radius: 15px;
    width: 35em;
    height: 35em;
    top: 5%;
    left: 30%;
    z-index: 100;
    background-color: white;
    display: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

#sucess img {
    width: 100%;
    height: 85%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#home_btn {
    width: 50%;
    height: 3em;
    background-color: black;
    color: white;
    font-size: 1.2em;
    border-radius: 5px;
    margin-left: 7.3em;
    border: none;
}

#home_btn>a {
    text-decoration: none;
    color: white
}

#home_btn:hover {
    cursor: pointer;
}

#spin {
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: 100;
    width: 6em;
    height: 6em;
    display: none;
}